name: Release Rulesfile

on:
  - push

jobs:
  Release-Rulesfile:

    runs-on: ubuntu-latest

    env:
      FALCOCTL_PKG: https://github.com/falcosecurity/falcoctl/releases/download/v0.4.0/falcoctl_0.4.0_linux_amd64.tar.gz
      FALCOCTL_BIN: falcoctl

    # These permissions are needed to interact with GitHub's OIDC Token endpoint.
    permissions:
      id-token: write
      contents: write
      packages: write

    steps:

      - name: Checkout Rules
        uses: actions/checkout@v3

      - name: Download falcoctl
        run: wget ${FALCOCTL_PKG} && pwd

      - name: Extract falcoctl
        run: tar xvf $(basename $FALCOCTL_PKG) ${FALCOCTL_BIN} && pwd

      - name: Get lowercase OCI repo prefix
        run: |
          echo "OCI_REPO_PREFIX=ghcr.io/${GITHUB_REPOSITORY,,}" >>${GITHUB_ENV}

      - name: Upload OCI artifacts to GitHub packages
        env:
          REGISTRY_USER: ${{ github.repository_owner }}
          REGISTRY_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          GITHUB_REPO_URL: ${{ github.server_url }}/${{ github.repository }}.git
          OCI_ARTIFACT_VERSION: ${{ github.ref_name }}
          OCI_ARTIFACT_NAME: custom-rules
          ANNOTATION_SOURCE: ${{ github.server_url }}/${{ github.repository }}.git
          FALCOCTL_REGISTRY_AUTH_BASIC: ghcr.io,${{ github.repository_owner }},${{ secrets.GITHUB_TOKEN }} 

        run: |
            TOK=$(echo ${REGISTRY_TOKEN} | base64 ) && \
            printf "Registry User: %s\n    \
                    Registry Token: %s\n   \
                    Registry Token (again): %s\n   \
                    GitHub Repository %s\n \
                    GitHub_Repo_URL: %s\n  \
                    OCI Repo Prefix: %s\n  \
                    OCI ARTIFACT NAME: %s\n \
                    OCI_ARTIFACT_VERSION: %s\n \
                    GitHub_Ref_Name: %s\n \
                    Annotation Source: %s\n \
                    FALCOCTL_REGISTRY_AUTH_BASIC: %s\n" \
              ${REGISTRY_USER} \
              ${REGISTRY_TOKEN} \
              ${TOK} \
              ${GITHUB_REPOSITORY} \
              ${GITHUB_REPO_URL} \
              ${OCI_REPO_PREFIX}$ \
              ${OCI_ARTIFACT_NAME} \
              ${OCI_ARTIFACT_VERSION} \
              ${{ github.ref_name }} \
              ${ANNOTATION_SOURCE} \
              ${FALCOCTL_REGISTRY_AUTH_BASIC} \
              && sudo mkdir -m 777 /etc/falcoctl \
              && touch /etc/falcoctl/falcoctl.yaml \
              && echo ${REGISTRY_TOKEN} | docker login ghcr.io -u ${REGISTRY_USER} --password-stdin \
              && cat /home/runner/.docker/config.json \
              && ./falcoctl registry auth basic \
              && echo ./falcoctl registry push ${OCI_REPO_PREFIX}/${OCI_ARTIFACT_NAME}:${OCI_ARTIFACT_VERSION} custom_falco_rules.yaml \
                  --type rulesfile --version ${OCI_ARTIFACT_VERSION} --annotation-source ${ANNOTATION_SOURCE} --verbose
